$primary-color: #f5f8f9;
$secondary-color: #fff;
$strong-color: #000;
$border-color: #ccc;
$icon-color: #a6b0b7;
$icon-star-color: #007ee5;
//
$primary-font-size: 16px;
$color: rgba(211, 211, 211, 1);
//
$font: 'Open Sans', sans-serif;
$max-width: 1170px;

//
$avatar-size: 120px;
$avatar-size-big: 170px;

@mixin box-shadow($blur, $spread) {
    -webkit-box-shadow: 0 0 $blur $spread $color;
    -moz-box-shadow: 0 0 $blur $spread $color;
    box-shadow: 0 0 $blur $spread $color;
}

@mixin border($top, $bottom, $leff, $right)
{
    border-top: $top solid $border-color;
    border-bottom: $bottom solid $border-color;
    border-left: $leff solid $border-color;
    border-right: $right solid $border-color;
}

@mixin border-radius($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value; 
    border-radius: $value;
}

head, body {
    padding: 0;
    margin: 0;
    font-family: $font;
    color: $icon-color;
    background: $primary-color;
    max-width: $max-width;
}

//reset
li { list-style: none; }
ul, ol { margin: 0; padding: 0; }
a { text-decoration: none; color: inherit }
h1, h2, h3, h4 { margin: 0; font-weight: 300; }
h3 {
    color: $strong-color;
    font-weight: 600;
    padding: 8px 0;
}
strong { color: $strong-color; }

//modifier
.screen__small {
    display: block;
}
.screen__large {
    display: none;
}
.float__top__right {
    position: absolute;
    top: 20px;
    right: 20px;
}


//icons
ion-icon {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}
ion-icon:not([name^="star"]) {
    color: $icon-color;
    padding-right: 5px;
    font-size: 1.2em;
}
ion-icon[name="ios-add-circle"] {
    font-size: 1.6em;
}
.icon__star {
    color: $icon-star-color;
}
.icon__star--float {
    color: $icon-color;
}

button {
    color: $icon-star-color;
    font-size: $primary-font-size;
    text-transform: uppercase;
    border: 0;
    padding: 8px;
    @include border-radius(0);
    cursor: pointer;
    background-color: inherit;
}
button:focus {
    outline: none;
}
button:hover {
    color: $icon-color;
}

.button__outline {
    @include border(1px, 1px, 1px, 1px);
    border-color: $icon-star-color;
    text-transform: none;
    &:hover {
        color: $secondary-color;
        background-color: $icon-star-color;
    }
}
.button__filled {
    @include border(1px, 1px, 1px, 1px);
    border-color: $icon-star-color;
    color: $secondary-color;
    background-color: $icon-star-color;
    text-transform: none;
    &:hover {
        color: $secondary-color;
        border-color: $icon-color;
        background-color: $icon-color;
    }
}

.button--edit {
    background: $primary-color;
    ion-icon {
        color: $icon-color;
        padding: 4px 0;
    }
    &:hover{
        background: $icon-star-color;
        ion-icon {
            color: $primary-color;
        }
    }
}

header {
    position: relative;
    padding: 20px;
    border: 0;
    background-color: $primary-color;
}
.header__bar {
    position: relative;
    text-align: center;
    margin: auto;
    height: 40px;
}
.button--logout {
    position: absolute;
    top:0;
    right: 0;
}
.button--upload__image {
    display: none;
    text-transform: none;
    position: relative;
    top: 50px;
    padding: 8px 10px;
    color:$border-color;
    @include border(1px, 1px, 1px, 1px);
    &:hover {
        color: $secondary-color;
        background-color: $border-color;
        >ion-icon {
            color: $secondary-color;
        }
    }
}


.user__avatar {
    margin: auto;
    width: $avatar-size;
    height: $avatar-size;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-position: center;
    @include box-shadow(20px, 2px);
}

.user__name {
    text-align: center;
    margin: 10px 0;
}
.user__details {
    > div {
        padding-bottom: 5px;
    }
}
.user__stars {
    li {
        display: inline;
    }
}
.user__stats {
    position: absolute;
    top: 20px;
    right: 0;
    div {
        display: inline-block;
    }
}

.user__followers {
    position: absolute;
    top: 10px;
    right: 20px;
}

.menu__container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: $max-width;
    background-color: $secondary-color;
    @include border(1px, 1px, 0, 0);
    @include box-shadow(6px, 1px);
}

.menu {
    text-align: center;
    margin: auto;
    //max-width: $max-width;
    position: relative;
   // display: inline-block;
}

.tab__button {
    display: inline-block;
    color: inherit;
    text-transform: uppercase;
    padding: 12px;
    margin: 0;
}
.tab__button:hover, 
.tab__button.active {
    border-bottom: 2px solid $icon-star-color;
}

.page {
    position: relative;
    background-color: $secondary-color;
    @include border(1px, 1px, 0, 0);
    padding: 20px;
    margin-top: 20px;
}

.page__textfield {
    padding-bottom: 5px;
    position: relative;
}


.float__label {
    display: block;
    position: relative;
}

input {
    width: 100%;
    padding: 20px 0px 6px;
    margin-top: 4px;
    border:0;
    border-bottom:1px solid $border-color;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance:none;
    box-shadow:none;
    font-family: $font;
    font-size: $primary-font-size;
    color: inherit;
    & + label  {
        position: absolute;
        top:0;
        left: 0;
        padding: 24px 0px 6px;
        transition: all 50ms;
        text-transform: uppercase;
    }
    
    &:focus {
        outline: none;
        border-bottom:1px solid $icon-star-color;
    }
    &:focus + label, &:valid + label {
        font-size: 50%;
        padding-top: 10px;
        opacity: 0.8;
    }
}

.button__group--float {
    position: absolute;
    top: 28px;
    right: 20px;
}

//just dummy
#settings, #option1, #option2  {
    min-height: 300px;
}

#dialog {
    position: absolute;
    top: -30px;
    width: 300px;
    padding: 20px;
    background-color: $secondary-color;
    @include box-shadow(30px, 2px);
    z-index: 99999;
    button {
        margin-top: 20px;
    }
}

@media(min-width: 768px) {
    .screen__small {
        display: none;
    }
    .screen__large {
        display: block;
    }

    header {
        height: 265px;
        background-color: $secondary-color;
    }
    .header__bar {
        height: 100px;
    }
    .button--upload__image {
        display: inline-block;
    }
    .user__bio {
        position: relative;
        > div:first-child {
            position: relative;
            float: left;
        }
    }
    .user__details  {
        position: relative;
        top: 20px;
    }
    .user__avatar {
        margin: 0;
        margin-right: 20px;
        width: $avatar-size-big;
        height: $avatar-size-big;    
        z-index: 2;
    }
    .user__name {
        text-align: left;
        margin: 0;
    }

    .menu__container {
        position: relative;
        top: -38px;
    }
    .menu {
        position: relative;
        text-align: left;
        padding-left: 200px;
    }

    .page {
        margin-top: 8px;
    }
    
    .page__textfield--edit {
        display: inline-block;
        background-color: $primary-color;
        @include border(1px, 1px, 1px, 1px);
        h3 {
            display: inline-block;
        }
    }
}

@media(min-width: $max-width) {
    body {
        margin: auto;
    }
    header {
        @include border(1px, 0, 1px, 1px);
    }
    .menu {
        @include border(1px, 1px, 1px, 1px);
    }
    .page {
        @include border(1px, 1px, 1px, 1px);
    }
}